
@{
    ViewBag.Title = "End";
}

<div class="text-center">
    <h2>Dziękujemy!</h2>
    Dziękujemy za dokonanie zakupów w naszym sklepie. Mamy nadzieję, że będą Pańtswo zadowoleni z produktu, który już wkrótce dostarczy do Was kurier.
</div>